body {
	margin: auto;
	padding: 20px;
	max-width: 720px;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.952);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: rgb(27, 26, 26);
}

img {
	max-width: 100%;
	height: auto;
}

blockquote {
	border-left: 3px solid #999;
	color: rgb(71, 71, 71);
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}