---
---
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>画像置き場</title>
		<style>
		</style>
	</head>
	<body>
		<h1>画像置き場</h1>
    <p>#diyアニメ</p>
		<img src="yourself.png" alt="do it yourself !!">
    <br>
    <a href="/">Home</a>
	</body>
</html>